.container
{
    width: auto;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
}

.buttons
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 475px)
{
    .container
    {
        padding: 10px;
        width: 100%;
    }
}